.git
.venv
.venv-wsl
.venv-*
dist/
config.env
__pycache__/
**/__pycache__/
*.pyc
*.session
*.session-journal
*.session-shm
*.session-wal
**/*.session
**/*.session-journal
**/*.session-shm
**/*.session-wal
log.txt
runtime.out.log
runtime.err.log
.runtime.pid
